[url "http://www.primenatural.us/content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css"]
  insteadOf = http://www.primenatural.us/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css
